.app-loader {
  text-align: center;
  margin-top: 3rem;

  img.pm-logo {
    margin-bottom: 3rem;
  }

  .progress-container {
    margin-top: 4rem;

    .progress {
      height: 0.75rem;
    }
  }
}
